<!DOCTYPE html>
<html>
<head>
    <title>Web Scraper</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#scrape-form').submit(function(event) {
                event.preventDefault();
                var urls = $('#urls').val().split('\n').filter(Boolean);
                $.ajax({
                    type: 'POST',
                    url: '/scrape',
                    contentType: 'application/json',
                    data: JSON.stringify({ 'urls': urls }),
                    success: function(data) {
                        var result = '';
                        for (var i = 0; i < data.length; i++) {
                            result += '<p>' + JSON.stringify(data[i]) + '</p>';
                        }
                        $('#scrape-result').html(result);
                        $('#download-button').show();
                    }
                });
            });

            $('#download-button').click(function() {
                window.location.href = '/download';
            });
        });
    </script>
</head>
<body>
    <h1>Web Scraper</h1>
    <form id="scrape-form">
        <textarea id="urls" rows="4" cols="50" placeholder="Enter URLs"></textarea>
        <br>
        <button type="submit">Scrape</button>
    </form>
    <div id="scrape-result"></div>
    <button id="download-button" style="display: none;">Download</button>
</body>
</html>
